
.service-list-enter-active, .service-list-leave-active {  }

.service-list-enter, .service-list-leave-active {
    transform: translateX(-30px);
}



.support__services_container{
    position: absolute;
    top:150px;
    right: 80px;
    width: 620px;
    height: 330px;
    background: #fff;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    padding: 20px 10px ;
    transform-origin: center;
    transition:all 0.5s ease, opacity 0.5s ease;
}
.support__services_container h2{
    color: #808080;
    margin-bottom: 10px;
}
.support__services_paragraph{
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    padding: 10px 0;
}
.support__services_paragraph_img{
    margin-right: 15px;
    margin-top: 10px;
}
.support__services_paragraph_img img{
    width: 210px;
    height: 150px;
}
.support__services_paragraph_text{
    height: 185px;
    overflow-y: scroll;
}
.support__services_paragraph_detail{
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 15px;
}
.support__services_paragraph_key{
    margin-top: 15px;
}
.support__services_paragraph_key h5{
    margin-bottom: 10px;
}
.support__services_paragraph_key ul{
    padding-bottom: 30px;
}
.support__services_paragraph_key ul li{
    float: left;
    font-size: 12px;
    width: 90px;
    padding-bottom: 10px;
}





